* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 50px;
  left: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
  display: flex;
  justify-content: space-evenly;
}

.App-nav li {
  padding: 10px;
}

.App-nav li a {
  text-decoration: none;
}

.App-nav li.active {
  background-color: #626C80;
}

.App-nav li:hover {
  background-color: #626C80;
  cursor: pointer;
}

.App-content {
  padding: 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
 */