.form{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    padding: 10px;
    width: 300px;
    max-width: 90%;
    font-size: 1rem;
    letter-spacing: 1px;
}

.btn{
    margin-top: 1rem;
    padding: 10px 40px;
    background: black;
    color: white;
    text-transform: uppercase;
    border: none;
}

.message{
    color: rgb(175, 50, 50);
    font-size: 16px;
}